/* ------------------------------------*/
/* General Styles          */
* {
  box-sizing: border-box;
  font-family: "Open Sans",
  sans-serif;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
}

main {
  background: #fefefe;
}

section,
header {
  padding: 0 30px;
}

section > header {
  padding: 0;
}

/* .hero, .landing-hero {
  padding: 12% 15px;
} */

.hero, .landing-hero {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-hero h1 {
  margin-top: 0;
}


article {
  padding: 30px 15px;
}

p + p {
  margin-top: 15px;
}

caption {
  display: block;
}

address {
  display: inline-block;
}

button {
  border-radius: 2px;
  padding: .5em 1em;
  font-size: 0.8em;
}

.app-title {
  font-style: italic;
}
/* /END General Styles     */
/* ------------------------------------*/


/* ------------------------------------*/
/* Edit Market Details Styles          */
input, textarea {
  width: 100%;
  max-width: 500px;
}

input[type="number"] {
  width: 50px;
}

label {
  display: block;
}

.form-section {
  margin-bottom: 30px;
}

.radio-inline, .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: .8em;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-category {
  display: block;
  max-width: 500px;
}

.checkbox-category input {
  width: 2em;
}

.schedule-title {
  font-size: .75em;
  font-weight: 600;
}
/* /END Edit Market Details Styles     */
/* ------------------------------------*/


/* ------------------------------------*/
/* Market Info Styles          */
.market-info h5 {
  margin-bottom: 0;
}
/* /END Market Info Styles     */
/* ------------------------------------*/



/* ------------------------------------*/
/* Responsive Styles                   */
@media screen and (min-width: 960px) {
  .hero, .landing-hero {
    height: 400px;
  }
  section,
  header {
    padding: 0 15px;
  }  
}
/* /END Responsive Styles              */
/* ------------------------------------*/