.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.description p {
  margin-left: 6px;
  padding: 6px 15px;
}

.vendor-list li {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.detail-label {
  font-weight: 600;
}

.market-info {
  max-width: 660px;
}

.market-detail-page .market-info {
  margin-bottom: 72px;
}

.market-info p {
  margin: 0;
}

.market-info .vendor-list {
  margin-top: 0.5em;
  padding-left: 0;
  list-style-type: none;
}