.hero {
  /* background-image: url('https://via.placeholder.com/960x540.png?text=hero+image'); */
  background-image: url('https://images.unsplash.com/photo-1498579397066-22750a3cb424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.description p {
  margin-left: 6px;
  padding: 6px 15px;
}

.vendor-list li {
  text-transform: capitalize
}

.detail-label {
  font-weight: 600;
}