.app-title {
  letter-spacing: .4rem;
  font-weight: 200;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.admin-tasks a {
  color: #353535;
  text-decoration: none;
}
.admin-tasks a.active {
  font-weight: 500;
}
.admin-tasks a:hover {
  text-decoration: underline;
}

.admin-tasks {
  font-size: 0.9em;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  margin: 76px 18px 6px;
}

nav .app-title a {
  text-decoration: none;
  color: #ebffd7;
  font-family: 'Ruthie';
  font-size: 1.2em;
}

nav .app-title {
  font-size: 1.5em;
}

nav {
  background-color: #181818;
  padding: 1em 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}